<div class="cubo-1">
 <div class="cubo-2">
    <div class="gandalf">
     <div class="fireball"></div>
     <div class="skirt"></div>
     <div class="sleeves"></div>
     <div class="shoulders">
       <div class="hand left"></div>
       <div class="hand right"></div>
     </div>
     <div class="head">
       <div class="hair"></div>
       <div class="beard"></div>
     </div>
   </div>
   <div class="message">
    <h1 class="not">403 - You Shall Not Pass</h1>
    <p>Uh oh, Gandalf está bloqueando o caminho!<br/>Talvez você tenha cometido um erro de digitação no URL?</p>
    <p>Ou você pretendia ir para um local diferente? Tipo...Hobbiton?</p>
   </div>
 </div>
</div>
