img{
 width: 25rem;
}
header{
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 justify-content: space-around;
 align-items: center;
 background: rgb(0,0,0);
 background: linear-gradient(180deg, rgba(0,0,0,1) 61%, rgba(255,255,255,1) 100%); 
}

.link-header{
 margin: 5rem;
 text-decoration: none;
 font-size: 2rem;
 color: #EADC95;
}