img{
 width: 12rem;
}
header{
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 justify-content: space-around;
 align-items: center;
 background-image: url(../../assets/img/stock-photo-natural-transformed.jpeg);
 background-size: cover;
 
}

.link-header{
 margin: 5rem;
 text-decoration: none;
 font-size: 2rem;
 color: #EADC95;
}