<div class="card">
  <div class="conta">
    <div class="box">
      <span></span>
      <div class="content">
        <img class="img-card" [src]="book.volumeInfo.imageLinks?.thumbnail || 'https://via.placeholder.com/150'" alt="Capa do livro" />
        <h2>{{ book.volumeInfo.title }}</h2>
        <div class="author" *ngIf="book.volumeInfo.authors">
          <p>By: {{ book.volumeInfo.authors.join(', ') }}</p>
        </div>
        <div class="learn-more">
          <a [href]="book.volumeInfo.infoLink" target="_blank">Saiba mais</a>
        </div>
      </div>
    </div>
  </div>
</div>