<section class="about-container">
 <div class="about-content">
   <h1>Sobre a Livraria The Lords of the Books</h1>
   <p>A Livraria The Lords of the Books é mais do que apenas um espaço para encontrar livros; é um universo onde a paixão pela leitura se encontra com a inovação tecnológica. Nossa missão é proporcionar uma experiência única aos amantes da literatura, combinando a vasta variedade de obras literárias com a conveniência da tecnologia moderna.</p>
   <p>Fundada como um projeto final do módulo Angular 1 da renomada Ada Tech, em parceria com o Santander Coders, a Livraria The Lords of the Books representa o resultado de dedicação, aprendizado e colaboração. Utilizando a API do Google Livros, conseguimos oferecer aos nossos clientes uma plataforma intuitiva e abrangente para explorar e adquirir suas obras favoritas.</p>
   <p>Gostaríamos de expressar nossa profunda gratidão à Ada Tech e ao Santander Coders por sua orientação, suporte e oportunidade de participar deste programa transformador. Agradecemos especialmente ao Professor Bruno Leandro Monteiro por seu compromisso inabalável em nos ajudar a alcançar nossos objetivos e superar desafios ao longo do caminho.</p>
   <p>Estamos empolgados em receber você na Livraria The Lords of the Books, onde os livros ganham vida e a aventura da leitura nunca termina.</p>
 </div>
</section>

